<mat-toolbar color="primary" class="Stick-toolbar bg-indigo-600">
    <span class="text-x1 font bold"> Mi plataforma 230045</span>
    <span class="spacer"></span>

    <nav>
        <button mat-button>Ejercios</button>
        <button mat-button>Tareas</button>
        <button mat-button>Examen Practico</button>
        <button mat-button>Acerca de</button>
    </nav>

    <span class="spacer"></span>

    <button mat-icon-button="menu">
        <img class="user-avatar" src="" alt="Usuario">
    </button>
</mat-toolbar>